.homesection {
    margin-top: 10%;
}

h2.home_title {
    margin-top: 20%;
}

h3.home_title {
    margin-top: 3%;
}

h3.element_heading{
    color:#96fa00;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-left:1%;
    margin:0%;
}

h3.contact_heading{
    color:#96fa00;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-left:0%;
    margin:0%;
}


/* Hero Code Reference:  https://www.w3schools.com/howto/howto_css_hero_image.asp*/

.box1 {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    /* Image created by myself */
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/Records.jpg");
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herohead {
    text-align: center;
    position: relative;
    color: white;
}

.herohead h1 {
    font-size: 15vh;
    transform: translate(0%, 20%);
    margin-top: 15vh;
    width: 100%;
}

.herohead p {
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(1%, 0%);
    margin-top: 5vh;
}

div.title_padding{
    padding-top: 2rem;
}

p.icon_para{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}

.icon_para_regular{
    text-align: left;
    font-family: 'Times New Roman';
    font-size:1.1rem;
    font-weight:100;
}

.icon_para_normal{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size:1.1rem;
    font-weight:100;
}



.icon_para_green{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color:#96fa00;
    font-weight:600;
}

.icon_para_red{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color:#ed442e;
    font-weight:600;
}


.sub_para{
    text-align: center;
    font-family: 'Times New Roman';
    font-size:1.1rem;
    font-weight:100;

}


/* Navbar modify */

div.main_nav {
    position: absolute;
    padding: 0% 2%;
    margin: 10% 0% 3% 0%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(50, 50, 50);
}

@media screen and (min-width: 1440px) {
    .herohead h1 {
        font-size: 10em;
        transform: translate(4%, 100%);
        margin-top: 10vh;
    }
    .herohead p {
        font-size: 1.5rem;
        transform: translate(1%, 0%);
        margin-top: 25vh;
    }
}

@media screen and (max-width: 750px) {
    .box {
        margin-top: 7vh;
    }
    .herohead h1 {
        font-size: 5vh;
        /* transform: translate(0%, 210%);
        margin-top: 0vh; */
    }
}

@media only screen and (max-width: 700px) {
    div.main_nav{
        display: none;
    }
}

@media screen and (max-width: 890px) {
    .herohead p {
        font-size: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(17%, 10%);
    }
}

@media screen and (max-width: 900px) {
    .herohead p {
        opacity: 0;
    }
    div.main_nav {
        margin-top: 60vh;
    }
}

@media screen and (min-width: 750px) and (max-width: 3072px) {
    .herohead h1 {
        font-size: 9vh;
        transform: translate(0%, 45%);
        margin-top: 4vh;
    }
    .herohead p {
        font-size: 1.5rem;
        transform: translate(1%, 0%);
        margin-top: 7vh;
    }
    div.main_nav {
        margin-top: 60vh;
    }
}


/* Title text section */

section#title-text {
    position: relative;
    width: 55%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

h1.firm_name {
    font-weight: bolder;

    font-size: 3em;
    padding-top: 4rem;
    padding-bottom: 1rem;
}


/* Intro paragraphs */

section#intro {
    width: 86%;
    margin: auto;
    padding: 10px;
}

section.intro-element {
    padding: 2% 0% 4% 2%;
    border-bottom: 2px solid #C4C4C4;
    margin: 2% 0% 5% 0%;
}


/* Code Reference: http://jsfiddle.net/avrahamcool/LDnfQ/ */

.intro-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5%;

    /* border: 1px solid wheat; */
}

.intro-col {
    /* border: 1px solid yellow; */

    width: 28%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    min-width: 15em;
}

.intro_img {
    width: 40%;
    /* border: 1px solid blue; */
}

.intro-icon{
    width: 100%;
}

/* .topic {
    color: #96fa00;
    font-weight: bolder;
    font-size: 1.32em;
} */

/* @media screen and (max-width: 750px) {
    .intro-row {
        display: unset;
        width: 100%;
        border-spacing: 10px;
        padding-bottom: 5%;
    }
    .intro-col {
        display: unset;
        text-align: center;
    }
} */


/* The latest news section */

section#news {
    width: 86%;
    margin: auto;
    padding: 10px;
}

h4.subheading {
    color: #ed442e;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-top: 2%;
    padding-left: 1%;
    margin: 0%;
}

h4.subheading_normal {
    color: #ed442e;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-top: 2%;
    padding-left: 0%;
    margin: 0%;
}

.news-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    padding-bottom: 5%;
}

.first-column {
    width: 30%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    /* background-color: #848383; */
    width: 64%;
    padding: 0 10px 0 0;
    float: right;
}

.news-img {
    width: 100%;
}

@media screen and (max-width: 750px) {
    .first-column {
        width: 100%;
        padding: 0 10px 0 0;
        float: left;
    }
    .second-column {
        /* background-color: #848383; */
        width: 100%;
        padding: 0 10px 0 0;
        float: right;
    }
}


/* Contact us section */

section#contact {
    width: 86%;
    margin: auto;
    padding: 1rem;
}


/* Code Reference: https://wpsites.net/free-tutorials/uneven-columns-using-html-css/ */

#contact_list {
    padding-bottom: 5%;
}


/* FOOTER */


/* Code Reference:  https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_footer_css*/

footer {
    padding: 1rem;
    text-align: center;
}