
 /* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/
*{
 
 box-sizing: border-box;
  
}

.product_detail_title{
	text-align: center;
	font-size:300%;

}

.brand-subtitle{
	text-align: center;
}

.subHeading{
	color:#96fa00;
    font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 150%;
	padding-top: 2rem;
}

.subsecHeading{
	padding-left: 2rem;
	text-align:left;
	color:#96fa00;
    font-family: 'Poppins', sans-serif;
	font-size: 150%;

}

section.border_element{
   
    border-bottom: 2px solid #c4c4c4;
    width:100%;
    margin-bottom: 1em;

}

div.pContainer{

    padding:0% 2%;
    margin: 3% 0% 3% 0%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

div.single_product_container{

	padding-top: 1rem;
    width:45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

div.single_product_container1{

    width:45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

div.songList-Container0{

	display:flex;
	width:50%;

}

div.songList-Container{

	display:flex;
	width:92%;

}

div.customer_container{
	display:flex;
	width:100%;
}

@media screen and (max-width: 800px){
 div.pContainer{
  
  	flex-direction: column;
  width: 100%;
  margin: auto;
 
  }

 div.single_product_container{

  
    flex-direction:row;
    width: 98%;
  }

  div.single_product_container1{

    width: 98%;
  }


}

@media (min-width: 40rem){

div.pContainer{
  
  	flex-direction: row;	
 
  }

div.single_product_container{
  
  	flex-direction:row;
  }

}

div.button-padding{
	padding-top:3rem;
	
}

.button-nav {
    display: flex;
    padding: 2% 4%;
    color: white;
    background-color: #393734;
    border: 2px solid #96fa00;
    text-decoration: none;

    transition-property: background-color; 
    transition-duration: 0.5s;
    font-weight:800;
    border-radius: 4px;
  }

.button-nav:hover {
    background-color: #96fa00;
    color: #393734;
    font-weight:800;
    border-radius: 4px;

}


figure.detail_alb_img{

	display:flex;
	position:relative;
	

}

figure.detail_alb_img1{

	display:flex;	
	

}



div.product_text{

	width:100%;
}

div.button-align{
	display:flex;
}


.padding1rem{
	padding:1rem;
}

.product_choice{
	width:40%;
}

.product_quantity{

  margin:4% 0%;
}

.product-listing2{
  display:flex;
  width:100%;
}

label.product_info{
	display:flex;
    width:15%;
}

@media screen and (max-width: 400px){
  label.product_info{
    width:20%;
  }
}

@media screen and (max-width: 320px){
  label.product_info{
    width:30%;
  }
}

img.detail_resize{
	display:flex;
	padding-top:3rem;
	position:relative;
	width:100%;
	
}

img.song_resize{
	
	display:flex;
	width:100%;
}

table{

	border-collapse: collapse;
	width:100%;

}

 td,th{

	text-align:left;
	border-bottom: 1px solid #ed442e;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;


}

th.songlist-subheading{

	font-size: 20px;
	color:white;
    
}

#t02{

	border-collapse: collapse;	

}

#t02 th{

	text-align:left;
	border-bottom: 2px solid #d333;

}

#t02 tr{

	text-align:left;
	border-bottom: 2px solid #d333;

}

input[type=text], textarea{
	width:100%;
	height: 100%;
	border:2px solid #96fa00;
	border-radius:4px;
	box-sizing:border-box;
	background-color: #282828;
	color:white;
}

input[type=text]:focus{
	width:100%;
	height: 100%;
	border:2px solid #96fa00;
	border-radius:4px;
	box-sizing:border-box;
	background-color: #282828;
	color:white;
}

form{
	display:flex;
	width:90%;
}

/*. --------------------star rating code start here------------------------ */

.center .stars{
  height: 50px;
  width: 50px;
  text-align: center;
 
}

.stars{
	/* width: 30%; */
	display:flex;
	flex-direction:row-reverse;
	justify-content: center;



}
.stars input{
  display: none;
}
.stars label{
  float: left;
  font-size: 30px;
  color: lightgrey;
  margin: 0 5px;
  text-shadow: 1px 1px #bbb;
}
.stars label:before{
  content: '★';
}
.stars input:checked ~ label{
  color: gold;
  text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
  color: gold;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.stars .result:before{
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-47%);
  bottom: -30px;
  font-size: 30px;
  font-weight: 500;
  color: gold;
  font-family: 'Poppins', sans-serif;
  display: none;
}


/* -----------------------star rating code end here.-------------------------*/



footer{
	padding:1rem;
	text-align: center;
	

}











