.product_detail_title{
    text-align: center;
    font-size: 300%;
}

.brand-subtitle{
    text-align: center;
}

h3.element_heading{
    padding-bottom: 1em;
    border-bottom: 2px solid #c4c4c4;
    width:100%;
    margin-bottom: 1em;
}

section.main_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* product list category */
.product_list_category{
    width: 17%;
    /* border: 1px solid yellow; */
    padding-top: 2%;
}
h4.element_heading{
    width: 80%;
    color: #ed442e;
    /* border: 1px solid white; */
    text-align: left;
    margin: auto;
}
div.category{
    width: 80%;
    /* border: 1px solid white; */
    text-align: left;
    margin: auto;
}

.product_list_main{
    width: 80%;
    /* border: 1px solid yellow; */
    /* display: flex;
    flex-wrap: wrap; */

}

div.button_padding{
    padding-top: 0.5rem;
}

.single_product{
    min-width:18em;
}

footer{
	padding:1rem;
	text-align: center;
}

@media only screen and (max-width:510px) {
    .product_list_category{
        display: none;
    }
}